/.ipynb_checkpoints
/.vscode
/__pycache__
/celery
/notebooks
/venv
reservoir/__pycache__/***
reservoir/__pycache__/*.pyc
.env
node_modules/***
.serverless/***
package-lock.json
src/__pycache__/***
.DS_Store
creds
nft-vision.json
database_interactions.py
key.json
/.history
