certifi==2022.6.15
charset-normalizer==2.1.0
click==7.1.2
fastapi==0.63.0
fastapi-utils==0.2.1
h11==0.13.0
idna==3.3
mangum==0.11.0
numpy==1.23.1
pandas==1.4.3
pydantic==1.9.1
pymongo==4.2.0
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
requests==2.28.1
six==1.16.0
SQLAlchemy==1.4.39
starlette==0.13.6
typing_extensions==4.3.0
urllib3==1.26.11
uvicorn==0.13.4
